<div>
	<!-- Top pane -->
	<div class="header">
		<a href="<?php echo $path; ?>"><img class="logo" src="resources/img/dgridLogo.png" alt="dgrid logo"></a>
		<a href="http://sitepen.com/" class="splogo"><img src="resources/img/sitepenLogo.svg" alt="SitePen logo"></a>
	</div>

	<div data-dojo-attach-point="previewTabs" data-selected-page="grid" class="render">
		<div class="tabControl">
			<span data-dojo-attach-event="click:_selectGrid" class="gridBtn">Demo</span>
			<span data-dojo-attach-event="click:_selectCode" class="codeBtn">Code</span>
		</div>
		<div class="demoGridPane" data-dojo-attach-point="demoGridPane">
			Use the controls to generate a dgrid instance.
		</div>

		<div class="demoCodePane" data-dojo-attach-point="demoCodePane">
			<textarea data-dojo-attach-point="gridCodeTextArea" class="demoCode" readonly></textarea>
		</div>
	</div>

	<div class="control">
		<div class="collapseHeader" data-dojo-attach-event="click:_toggleColumns">
			Columns
			<div class="dgrid-expando-icon ui-icon ui-icon-triangle-1-se" style="margin-left: 0px; float: left;">&nbsp;</div>
		</div>
		<div data-dojo-attach-point="columnEditorNode" class="open"></div>

		<div data-dojo-attach-point="featureEditorNode"></div>
	</div>
</div>
